<%- include ('partials/header.ejs') %>
<!--  -->
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="jumbotron mb-4">
        <br />
        <h1 class="display-5">
            <strong>Bem-vindo(a) ao painel administrativo Nossa Loja!</strong>
        </h1>
        <p class="lead">
            Através desse painel é possível listar as tabelas de clientes,
            produtos e pedidos.
        </p>
        <hr class="my-4" />
        <p class="currentDate"></p>
    </div>
    <hr />
    <br>
    <div class="card">
        <div class="card-header">
            <h1>Para onde deseja ir?</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-md-2">
                        <a
                            class="btn btn-primary mb-2 form-control"
                            href="/clientes"
                            role="button"
                            >Verificar Clientes</a
                        >
                </div>
            </div>
            <div class="row">
                <div class="col col-md-2">
                        <a class="btn btn-primary mb-2 form-control" href="/pedidos" role="button"
                            >Verificar Pedidos</a
                        >
                </div>
            </div>
            <div class="row">
                <div class="col col-md-2">
                        <a
                            class="btn btn-primary mb-2 form-control"
                            href="/produtos"
                            role="button"
                            >Verificar Produtos</a
                        >
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
